<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <title>NodeJS</title>
</head>
<body>
    <h1>Hello I'm Takis</h1>
    <%= dataUser %>
    <img src="/images/nmc.jpg" alt="nmc">
</body>
</html>